@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>@(new DateTime(2022, 3, 9).ToString("D", new System.Globalization.CultureInfo("en-GB")))</p>
<p>@(new System.Globalization.CultureInfo("en-GB").DateTimeFormat.LongDatePattern)</p>
